<app-navigation-toolbar></app-navigation-toolbar>
<div class="container">
  <h1>🚀 Welcome to BZList!</h1>
  <p>BZList is an online service 🌐 providing BZFlag server and player information 📖. If you need <a routerLink="/help">help</a>, there's a page for that 📄. Make sure to checkout the source code on <a href="https://github.com/bzlist/" target="_blank">GitHub</a>.</p>
</div>
<servers></servers>
<div class="container footer">
  <p><i>Disclaimer: </i>🔥<i> information on this site is not official and may not be accurate or up to date. There is no guarantee of uptime or this service being provided. But I will try me best</i> 😄.</p>
  <p><a routerLink="/3rdpartylicenses">View 3rd Party Licenses</a></p>
</div>
