<div class="container">
  <h2>🚀 Welcome to BZList!</h2>
  <p>BZList is an online service 🌐 providing BZFlag server and player information. If you need <a routerLink="/help">help</a>, there's a page for that 📄.</p>
</div>
<servers></servers>
<div class="container footer">
  <p><i>Disclaimer: </i>🔥<i> information on this site is not official and may not be accurate or up to date. There is no guarantee of uptime or the service being provided. But I will try me best</i> 😄.</p>
  <p><a href="/3rdpartylicenses.txt">View 3rd Party Licenses</a></p>
</div>