.header{
  padding: 32px 0;
  text-align: center;

  h1{
    color: #1976D2;
    font-size: 3rem;

    @media screen and (max-width: 768px){
      font-size: 1.9rem;
    }
  }

  p{
    font-size: 1.3rem;

    @media screen and (max-width: 768px){
      font-size: .9rem;
    }
  }
}

.footer{
  background-color: var(--bg-light);
}
