@import "../../../variables.scss";

.header{
  width: 70%;
  margin: 0 auto;
  padding: 64px 0;

  @media screen and (max-width: $breakpoint-mobile){
    width: 90%;
  }

  .headline{
    color: #1976D2;
    font-size: 3rem;

    @media screen and (max-width: $breakpoint-mobile){
      font-size: 2.2rem;
    }
  }

  .tagline{
    font-size: 1.3rem;
  }
}
