<app-navigation-toolbar></app-navigation-toolbar>
<div class="container">
  <div class="header">
    <h1>Welcome to BZList!</h1>
    <p>BZList is an online service providing live BZFlag server and player information.</p>
  </div>
</div>
<servers></servers>
<div class="container footer">
  <small><i>Disclaimer: </i>🔥<i> information on this site is not official and may not be accurate or up to date. There is no guarantee of uptime or this service being provided. But I will try me best</i> 😄.</small>
  <p>
    Copyright &copy; 2019 •
    <a href="https://github.com/bzlist/client/blob/master/LICENSE" target="_blank">View License</a> •
    <a href="/3rdpartylicenses.txt" target="_blank">View 3rd Party Licenses</a> •
    <a href="https://github.com/gosquared/flags/blob/master/LICENSE.txt" target="_blank">countryflags.io license</a> •
    <a href="https://github.com/bzlist/" target="_blank">GitHub</a></p>
</div>
