<div class="search"><app-search placeholder="Search by title or address" [(value)]="serversService.searchText"></app-search></div>
<div *ngIf="serversService.servers" class="container">
  <h1>{{serversService.servers.length + " Public Server" | autoPlural}} Online {{settingsService.onlyServersWithPlayers ? "With Players" : ""}}</h1>
  {{serversService.playerCount() + " player" | autoPlural}} and {{serversService.observerCount() + " observer" | autoPlural}} online. Last update was {{serversService.lastUpdate | timeAgo}}.
  <app-checkbox *ngIf="settingsService.getList('hiddenServers').length > 0" [(checked)]="settingsService.showHiddenServers">Show Hidden Servers</app-checkbox><br><br>
  <div *ngIf="ready">
    <app-servers-table *ngIf="!settingsService.gridView && !mobile" [servers]="serversService.servers" (rowClick)="showServerDetails($event)"></app-servers-table>
    <ul *ngIf="settingsService.gridView || mobile" class="list-nostyle list-card">
      <app-server-card *ngFor="let server of serversService.servers; trackBy: trackByTimestamp" [server]="server" (click)="showServerDetails(server)"></app-server-card>
    </ul>
  </div>
</div>
<div class="container">
  <ul *ngIf="!ready || !serversService.servers" class="list-nostyle list-shimmer">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>