<div *ngIf="serversService.servers" class="container">
  <h2>{{serversService.servers.length + " Public Server" | autoPlural}} Online {{settingsService.onlyServersWithPlayers ? "With Players" : ""}}</h2>
  <small>{{serversService.playerCount() + " player" | autoPlural}} and {{serversService.observerCount() + " observer" | autoPlural}} online. Last update was {{serversService.lastUpdate | timeAgo}}.</small><br>
  <app-checkbox [(checked)]="settingsService.showHiddenServers">Show Hidden Servers</app-checkbox>
</div>
<div *ngIf="ready && serversService.servers">
  <app-servers-table *ngIf="!settingsService.gridView" [servers]="serversService.servers" (rowClick)="showServerDetails($event)"></app-servers-table>
  <ul *ngIf="settingsService.gridView" class="list-nostyle list-card">
    <app-server-card *ngFor="let server of serversService.servers; trackBy: trackByTimestamp" [server]="server" (click)="showServerDetails(server)"></app-server-card>
  </ul>
</div>
<ul *ngIf="!ready || !serversService.servers" class="list-nostyle list-shimmer">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>