<div class="container">
  <h1>Help</h1>
  <p>
    <b>Disclaimer:</b> 🔥 information on this site is not official and may not be accurate or up to date. There is no guarantee of uptime or this service being provided. But I will try me best! 😃<br>
    Click/tap on a server to view details about it.<br>
    If it is taking a long to to query the database it may be due to connection or local errors.
    If this happens please <a href="https://forums.bzflag.org/ucp.php?i=pm&mode=compose&u=58103" target="_blank">contact me</a>.
  </p>
  <h2>FAQ</h2>
  <p>
    <b>How do I get back to the home page?</b><br>
    If on desktop, there is a button in the header labled "Servers." On mobile and desktop the BZList logo will also take you back to the home page.<br><br>
    
    <b>When chosing a team after clicking "Play Now" nothing happens.</b><br>
    You must install <a href="https://github.com/The-Noah/bzflag-launcher" target="_blank">BZFlag Launcher</a>, however it is currently only supported on Windows.
  </p>
</div>
