<div class="container">
  <h1>Help</h1>
  <p>
    <b>Disclaimer:</b> 🔥 information on this site is not official and may not be accurate or up to date. There is no guarantee of uptime or this service being provided. But I will try me best! 😃<br><br>
    Click/tap on a server to view details about it.<br><br>
    I can be contacted <a href="https://forums.bzflag.org/ucp.php?i=pm&mode=compose&u=58103" target="_blank">here</a> via the BZFlag Forums.
  </p>
  <h2>FAQ</h2>
  <p>
    <b>How do I get back to the home page?</b><br>
    If on desktop, there is a button in the header labled "Servers." On mobile and desktop the BZList logo will also take you back to the home page.<br><br>
    <b>When chosing a team after clicking "Play Now" nothing happens.</b><br>
    You must install <a href="https://github.com/The-Noah/bzflag-launcher" target="_blank">BZFlag Launcher</a>, however it is currently only supported on Windows.<br><br>
    <b>Data doesn't seem to be updating.</b><br>
    If the API had to restart (due to an error or update) then refreshing the page should fix it. If you continue to experience issues contact me.
  </p>
  <small>Version: {{version}}</small>
</div>