<div class="card">
  <h3>{{server.title}}</h3>
  {{server.address}}:{{server.port}} <small>{{server.owner}}</small><br>
  <p>
    <span><span class="badge">{{server.configuration.gameStyle | verboseGameStyle}}</span>&nbsp;</span>
    <span *ngIf="server.configuration.superflags"><span class="badge">Flags</span>&nbsp;</span>
    <span *ngIf="server.configuration.antidoteFlags"><span class="badge">Antidote Flags</span>&nbsp;</span>
    <span *ngIf="server.configuration.noTeamKills"><span class="badge">No TKs</span>&nbsp;</span>
  </p>
  <hr>
  <small>
    <img src="https://countryflags.io/{{server.countryCode}}/flat/16.png" alt="{{server.countryCode}}" matTooltip="{{server.country}}">
    {{server.players.length}} players online • updated {{server.timestamp | timeAgo}}
  </small>
</div>
