<div class="card">
  <h3>{{server.title}}</h3>
  {{server.address}}:{{server.port}} <small>{{server.owner}}</small><br>
  <p>
    <span class="badge">{{server.configuration.gameStyle | verboseGameStyle}}</span>&nbsp;
    <span class="badge" *ngIf="server.configuration.superflags">Flags</span>&nbsp;
    <span class="badge" *ngIf="server.configuration.antidoteFlags">Antidote Flags</span>&nbsp;
    <span class="badge" *ngIf="server.configuration.noTeamKills">No TKs</span>&nbsp;
  </p>
  <hr>
  <small>
    <img src="https://countryflags.io/{{server.countryCode}}/flat/16.png" alt="{{server.countryCode}}" matTooltip="{{server.country}}">
    {{server.players.length}} players online • updated {{server.timestamp | timeAgo}}
  </small>
</div>
