@import "../../../../variables.scss";

.checkbox{
  display: inline-flex;
  cursor: pointer;

  .checkbox-inner-container{
    width: 16px;
    height: 16px;
    margin-right: 8px;
    white-space: nowrap;
    flex-shrink: 0;
    border: 1px solid var(--color-text-light);
    border-radius: $border-radius;
  }

  .checkbox-background{
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .checkmark{
    transition: .1s all ease-out;
    -webkit-font-smoothing: antialiased;
  }

  .checkbox-label{
    font-size: 14px;
    line-height: 18px;
  }

  &[checked=true] .checkbox-inner-container, &:active .checkbox-inner-container{
    border-color: $color-primary;
  }

  &[checked=true] .checkmark{
    opacity: 1;
    background-color: $color-primary;
  }

  &[checked=false] .checkmark{
    opacity: 0;
  }

  &[disabled=true] .checkbox-label{
    color: var(--color-text-light);
  }

  &[disabled=true] .checkbox-inner-container{
    border-color: var(--color-text-light);
  }

  &[disabled=true] .checkmark{
    background-color: var(--color-text-light);
  }
}
