<app-navigation-toolbar></app-navigation-toolbar>
<div class="container">
  <h1>Help</h1>
  <p>
    To view details about a server, click/tap on it and the server's details will appear.
    You can search servers by <i>address</i>, <i>IP address</i>, <i>owner</i>, <i>country</i>, and <i>game-style</i>. You can search mutliple fields by seperating them with commas.
    If it is taking a long to to query the API it may be due to connection errors or many requests being handled at once, please wait a short time then refresh.
    If a server's information is incorrect, please report it to the BZList author <a href="https://forums.bzflag.org/ucp.php?i=pm&mode=compose&u=58103" target="_blank">The Noah</a> (make sure to look at the update times).
  </p>

  <p>
    <b>If no servers appear online, it may be due to the API being down or a local error.</b>
    Please <a href="https://forums.bzflag.org/ucp.php?i=pm&mode=compose&u=58103" target="_blank">contact me</a> if this does happens (but it <i>should</i> not happen often if it all).
  </p>

  <h2>Cookies</h2>
  This website uses cookies to store the fallowing information.
  <ul>
    <li>Dark theme/mode.</li>
    <li>Whether or not you are in compact mode.</li>
    <li>Displayed columns.</li>
  </ul>
</div>
