<div class="container">
  <h1>Help</h1>
  <p>To view details about a server, click or tap on it and the server's details should appear, including current player count, teams and game mode.</p>
  <p>
    To search for a specific server, use the <i>search field</i> above the server list to search for a specific server.
    Servers may be searched by player count, address, IP, public title, game-style and more. You can search mutliple fields by seperating them with commas.
  </p>
  <p>If a server query is taking a long time, it may be due to connection errors or many requests being handled at once, please wait a short time before attempting another query.</p>
  <p>If a server's statistics or information is incorrect, please report it to the BZList author <a href="https://forums.bzflag.org/ucp.php?i=pm&mode=compose&u=58103" target="_blank">The Noah</a>.</p>
  <p>If no servers appear online, it may be due to the main server list being down or a local error. (This <i>should</i> not happen often.)</p>
</div>