@import "../../../../variables.scss";

.search-box{
  height: 40px;
  padding: 1px 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  box-shadow: 0 2px 8px rgba(20, 20, 20, .2);
  border-radius: $border-radius;

  .icon-container{
    width: 40px;
    color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input{
    margin: 0 4px;
    padding: 0;
    background: transparent;
    color: var(--color-text);
    font-size: 14px;
    box-sizing: border-box;
    flex: 1 1 0px;
    border: none;
    outline: none;
    overflow: hidden;

    &::placeholder{
      color: var(--color-text);
    }
  }

  .btn{
    width: 40px;
    height: auto;
    padding: 0 4px;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    right: -6px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0;
  }
}