@import "../../../../variables.scss";

table{
  width: 100%;
  box-shadow: $shadow;
  border-collapse: collapse;
}

tr{
  height: 36px;
  background-color: rgba(255, 255, 255, .02);
}

tr:hover{
  background-color: var(--color-hover);
}

td, th{
  padding: 0 8px;
}

td{
  font-size: .9em;
}

th{
  color: var(--color-text-light);
  font-size: .8em;
  font-weight: normal;
  text-align: left;
}

@media screen and (min-width: $breakpoint-mobile){
  td:first-child,
  th:first-child{
    padding-left: 16px;
  }

  td:last-child,
  th:last-child{
    padding-right: 16px;
  }
}

.new{
  width: calc(100% - 32px);
  margin: 0 auto;
  box-shadow: none;
  border-collapse: separate;
  border-spacing: 0px 10px;

  @media screen and (max-width: $breakpoint-mobile){
    width: calc(100% - 8px);
  }
}

.new tr{
  border-radius: $border-radius;
  
  &:hover{
    background: var(--color-hover-light);
    box-shadow: $shadow;
  }

  td, th{
    padding: 0 4px;
  
    @media screen and (max-width: $breakpoint-mobile){
      padding: 0 2px;
    }
  }

  td:first-child,
  th:first-child{
    padding-left: 10px;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;

    @media screen and (max-width: $breakpoint-mobile){
      padding-left: 0 6px;
    }
  }

  td:last-child,
  th:last-child{
    padding-right: 10px;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    @media screen and (max-width: $breakpoint-mobile){
      padding-right: 0 6px;
    }
  }
}

.table-compact tr,
.table-compact tr img{
  height: 24px;

  td{
    font-size: .9em;
  }
}