@import "../../../../variables.scss";

table{
  width: 100%;
  box-shadow: $shadow;
  border-collapse: collapse;
}

tr{
  height: 36px;
  background-color: rgba(255, 255, 255, .02);
  border-bottom: 1px solid var(--color-border);
  text-align: left;
}

tr:hover{
  background-color: var(--color-hover);
}

td, th{
  padding: 0 6px;

  @media screen and (max-width: $breakpoint-mobile){
    padding: 0 4px;
  }
}

td{
  color: var(--color-text-lighter);
  font-size: .9em;
}

th{
  color: var(--color-text-light);
  font-size: .8em;
  font-weight: normal;
}

td:first-child,
th:first-child{
  padding-left: 24px;

  @media screen and (max-width: $breakpoint-mobile){
    padding: 0 12px;
  }
}

td:last-child,
th:last-child{
  padding-right: 24px;

  @media screen and (max-width: $breakpoint-mobile){
    padding: 0 8px;
  }
}

.table-compact tr,
.table-compact tr img{
  height: 22px;
}

.new{
  width: calc(100% - 32px);
  margin: 0 auto;
  box-shadow: none;
  border-collapse: separate;
  border-spacing: 0px 12px;
}

.new tr{
  background-color: var(--color-hover-light);
  box-shadow: $shadow;
  border-radius: $border-radius;

  &:hover{
    background-color: var(--color-hover);
  }

  td, th{
    padding: 0 4px;
  
    @media screen and (max-width: $breakpoint-mobile){
      padding: 0 2px;
    }
  }

  td:first-child,
  th:first-child{
    padding-left: 10px;

    @media screen and (max-width: $breakpoint-mobile){
      padding: 0 6px;
    }
  }

  td:last-child,
  th:last-child{
    padding-right: 10px;

    @media screen and (max-width: $breakpoint-mobile){
      padding: 0 6px;
    }
  }
}