table{
  width: 100%;
}

.search{
  width: 100%;
  margin-top: 8px;
}

.mat-column-players,
.mat-column-country{
  max-width: 70px;
}
.mat-column-gameStyle{
  max-width: 140px;
}
.mat-column-address{
  max-width: 500px;
}