.search{
  width: 100%;
  margin-top: 4px;
}

.mat-column-players,
.mat-column-country{
  max-width: 70px;

  @media screen and (max-width: 768px){
    max-width: 60px;
  }
}
.mat-column-players{
  @media screen and (max-width: 768px){
    padding-left: 8px;
  }
}
.mat-column-address{
  max-width: 300px;
}
.mat-column-owner{
  max-width: 140px;

  @media screen and (max-width: 768px){
    max-width: 110px;
  }
}
.mat-column-protocol{
  max-width: 90px;

  @media screen and (max-width: 768px){
    max-width: 75px;
  }
}
.mat-column-gameStyle{
  max-width: 140px;
}
.mat-column-title{
  @media screen and (max-width: 768px){
    padding-right: 8px;
  }
}