<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button routerLink="/">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span *ngIf="server != null" class="title">{{server.title}}</span>
  </mat-toolbar-row>
</mat-toolbar>
<p *ngIf="status !== ''">Status: {{status}}</p>
<div *ngIf="server != null" class="container">
  <small>Updated {{server.timestamp | timeAgo}}</small>
  <h2>{{server.address}}:{{server.port}}</h2>
  <div>
    <span class="badge">{{server.country}}</span>&nbsp;
    <span class="badge">{{server.ip}}</span>&nbsp;
    <span class="badge">{{server.configuration.gameStyle}}</span>&nbsp;
    <span class="badge" *ngIf="server.configuration.superflags">Flags</span>&nbsp;
    <span class="badge" *ngIf="server.configuration.antidoteFlags">Antidote Flags</span>&nbsp;
    <span class="badge" *ngIf="server.configuration.noTeamKills">No TKs</span>&nbsp;
  </div>
  <p>Owned by {{server.owner}}</p>
  <h4>{{playerCount}} Players and {{observerCount}} Observers Online</h4>
  <app-players-table *ngIf="server.players.length > 0" [players]="server.players"></app-players-table>
</div>
