mat-toolbar-row .title{
  margin-left: 16px;
}

.info{
  height: 16px;
  padding: 6px 12px;
  margin-right: 8px;
  color: #333;
  background-color: #F7F7F7;
  font-size: 14px;
  font-weight: lighter;
  border-radius: 99px;
  display: inline-block;
}

.mat-column-team,
.mat-column-winsLosses{
  max-width: 100px;

  @media screen and (max-width: 768px){
    max-width: 70px;
  }
}
.mat-column-score{
  max-width: 70px;

  @media screen and (max-width: 768px){
    max-width: 60px;
  }
}
.mat-column-tks{
  max-width: 40px;
}

.table-raw tr td:first-child{
  padding-right: 8px;
  color: #555;
}
