<h1 mat-dialog-title>{{server.title}}</h1>
<div mat-dialog-content>
  <small *ngIf="updated != ''">Updated {{updated}}</small><br><br>
  <span class="info">{{server.configuration.gameStyle}}</span>
  <span class="info" *ngIf="server.configuration.superflags">Flags</span>
  <span class="info" *ngIf="server.configuration.antidoteFlags">Antidote Flags</span>
  <span class="info" *ngIf="server.configuration.noTeamKills">No TKs</span>
  <br><br>
  <table>
    <tr><td>Address: </td><td>{{server.address}}:{{server.port}} <small>({{server.ip}})</small></td></tr>
    <tr><td>Owner: </td><td>{{server.owner}}</td></tr>
    <tr><td>Country: </td><td>{{server.country}}</td></tr>
    <tr><td>Protocol: </td><td>{{server.protocol}}</td></tr>
  </table>
  <h3>Players: {{server.players.length}}</h3>
  <mat-table *ngIf="server.players.length > 0" [dataSource]="playerData" matSort matSortActive="score" matSortDirection="desc" matSortDisableClear class="mat-elevation-z2">
    <ng-container matColumnDef="callsign">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Callsign</mat-header-cell>
      <mat-cell *matCellDef="let player">{{player.callsign}} {{player.motto != undefined && player.motto != "" ? "(" + player.motto + ")" : ""}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="team">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Team</mat-header-cell>
      <mat-cell *matCellDef="let player">{{player.team}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Score</mat-header-cell>
      <mat-cell *matCellDef="let player">{{player.team !== "Observer" ? player.score : ""}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="winsLosses">
      <mat-header-cell *matHeaderCellDef>Wins / Losses</mat-header-cell>
      <mat-cell *matCellDef="let player">{{player.team !== "Observer" ? player.wins + " / " + player.losses : ""}}</mat-cell>
    </ng-container>

    <mat-header-row [class.row-compact]="compact" *matHeaderRowDef="playerCollumns"></mat-header-row>
    <mat-row [class.row-compact]="compact" *matRowDef="let row; columns: playerCollumns;"></mat-row>
  </mat-table>
</div>