<app-navigation-toolbar></app-navigation-toolbar>
<main>
  <router-outlet #o="outlet"></router-outlet>
</main>
<footer class="container center">
  Copyright &copy; 2019 The Noah
  <small>
    <hr class="small">
    <a href="https://github.com/bzlist/client/blob/master/LICENSE" target="_blank">View License</a> •
    <a href="/3rdpartylicenses.txt" target="_blank">View 3rd Party Licenses</a> •
    <a href="https://github.com/gosquared/flags/blob/master/LICENSE.txt" target="_blank">countryflags.io license</a> •
    <a href="https://github.com/bzlist/" target="_blank">GitHub</a>
  </small>
</footer>
