<app-navigation-toolbar></app-navigation-toolbar>
<main>
  <router-outlet #o="outlet"></router-outlet>
</main>
<footer class="container center">
  <div class="links">
    <a href="https://github.com/bzlist/client/blob/master/LICENSE" target="_blank">License</a> •
    <a href="/3rdpartylicenses.txt" target="_blank">3rd Party Licenses</a> •
    <a href="https://github.com/gosquared/flags/blob/master/LICENSE.txt" target="_blank">GoSquared's Flags License</a> •
    <a href="https://github.com/bzlist/bzlist.net" target="_blank">GitHub</a>
  </div>
  <div class="copyright">
    Copyright &copy; 2019 The Noah
  </div>
</footer>
