@import "../variables.scss";

footer{
  width: 70vw;
  margin: 32px auto;
  padding: 0;
  display: block;
  font-size: .8rem;

  .links{
    width: 50%;
    float: left;

    @media screen and (max-width: $breakpoint-mobile){
      width: 100%;
      margin-bottom: 8px;
    }
  }

  .copyright{
    color: var(--color-text-light);
    font-weight: bold;
  }
}