<div *ngIf="server" class="container">
  <h1><a class="btn icon" style="position:relative;margin-right:8px;top:-4px" routerLink="/">&#xE830;</a>{{server.title}}</h1>
  <span style="margin-bottom:12px">
    <span class="badge"><img src="https://countryflags.io/{{server.countryCode}}/flat/16.png" alt=""> {{server.country}}</span>&nbsp;
    <small>updated {{server.timestamp | timeAgo}}</small>
  </span>
  <p class="mobile-hide">
    <button *ngIf="!selectTeam" class="btn outline bg-primary" (click)="selectTeam = true" title="Requires BZFlag Launcher">Play Now</button>
    <span *ngIf="selectTeam">
      <h3>Select Team</h3><br>
      <button *ngFor="let team of server.teams" class="btn outline" (click)="joinTeam(team.name)">{{team.name}}</button><br>
      <small><i><a style="cursor:pointer" (click)="selectTeam = false">Cancel</a>. requires <a href="https://github.com/The-Noah/bzflag-launcher" target="_blank">BZFlag Launcher</a></i></small>
    </span>
  </p>
  <app-table style="max-width:400px">
    <tr>
      <th>Online</th>
      <td><span [outerHTML]="server.online | booleanYesNo"></span></td>
    </tr>
    <tr>
      <th>Server</th>
      <td>{{server.address}}:{{server.port}}</td>
    </tr>
    <tr>
      <th>IP Address</th>
      <td>{{server.ip}}</td>
    </tr>
    <tr>
      <th>Owner</th>
      <td>{{server.owner}}</td>
    </tr>
    <tr>
      <th>Protocol</th>
      <td>{{server.protocol}}</td>
    </tr>
    <tr>
      <th>Game Style</th>
      <td>{{server.configuration.gameStyle | verboseGameStyle}}</td>
    </tr>
    <tr>
      <th>Max shots</th>
      <td>{{server.configuration.maxShots}}</td>
    </tr>
    <tr>
      <th>Max Players</th>
      <td>{{server.configuration.maxPlayers}}</td>
    </tr>
    <tr>
      <th>Flags</th>
      <td><span [outerHTML]="server.configuration.superflags | booleanYesNo"></span></td>
    </tr>
    <tr>
      <th>Antidote Flags</th>
      <td><span [outerHTML]="server.configuration.antidoteFlags | booleanYesNo"></span></td>
    </tr>
    <tr>
      <th>No Team Kills</th>
      <td><span [outerHTML]="server.configuration.noTeamKills | booleanYesNo"></span></td>
    </tr>
    <tr>
      <th>Jumping</th>
      <td><span [outerHTML]="server.configuration.jumping | booleanYesNo"></span></td>
    </tr>
    <tr>
      <th>Ricochet</th>
      <td><span [outerHTML]="server.configuration.ricochet | booleanYesNo"></span></td>
    </tr>
    <tr>
      <th>Drop Bad Flags</th>
      <td><span [outerHTML]="server.configuration.shaking | booleanYesNo"></span></td>
    </tr>
    <tr *ngIf="server.configuration.shaking">
      <th>Drop Bad Flags After</th>
      <td>{{server.configuration.dropBadFlags.wins}} wins or {{server.configuration.dropBadFlags.time}} seconds</td>
    </tr>
    <tr>
      <th>Inertia</th>
      <td><span [outerHTML]="server.configuration.inertia | booleanYesNo"></span></td>
    </tr>
    <tr>
      <th>Handicap</th>
      <td><span [outerHTML]="server.configuration.handicap | booleanYesNo"></span></td>
    </tr>
    <tr>
      <th>Time Limit</th>
      <td><span [outerHTML]="server.configuration.timeLimit | numberZeroNo"></span></td>
    </tr>
    <tr>
      <th>Max Player Score</th>
      <td><span [outerHTML]="server.configuration.maxPlayerScore | numberZeroNo"></span></td>
    </tr>
    <tr>
      <th>Max Team Score</th>
      <td><span [outerHTML]="server.configuration.maxTeamScore | numberZeroNo"></span></td>
    </tr>
  </app-table>
  <div *ngIf="players" style="margin-top:18px">
    <h2>{{playerCount + " Player" | autoPlural}} and {{observerCount + " Observer" | autoPlural}} Online</h2>
    <app-players-table *ngIf="playerCount > 0 || observerCount > 0" [players]="players" [showTkColumn]="!server.configuration.noTeamKills"></app-players-table>
  </div>
  <div *ngIf="!players" style="margin-top:18px">
    <h2>No Players Online</h2>
  </div>
  <div style="margin-top:18px">
    <h2>Teams</h2>
    <app-table>
      <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Players</th>
        <th>Wins</th>
        <th>Losses</th>
      </tr>
      <tr *ngFor="let team of server.teams">
        <td>{{team.name}}</td>
        <td>{{team.name !== "Observer" ? team.wins - team.losses : "N/A"}}</td>
        <td>{{team.players}}/{{team.maxPlayers}}</td>
        <td>{{team.name !== "Observer" ? team.wins : "N/A"}}</td>
        <td>{{team.name !== "Observer" ? team.losses : "N/A"}}</td>
      </tr>
    </app-table>
  </div>
</div>
<div *ngIf="badAddress" class="container">
  <h1>Server <i>{{address}}:{{port}}</i> is not in the database</h1>
  <a routerLink="/">Home</a>
</div>
<app-spinner [show]="!server && !badAddress"></app-spinner>
