<div *ngIf="server">
  <div class="banner" [style.background]="banner"></div>
  <div class="container"><h1 class="title"><button class="btn icon" style="position:relative;margin-right:8px;top:-2px;color:#EEE;font-size:1rem" (click)="location.back()">&#xE830;</button>{{server.title}}</h1></div>
  <div style="background-color:var(--bg)">
    <div class="server-header" [class.header-fixed]="fixedHeader">
      <div class="mobile-hide"><button class="play" (click)="selectTeam = true" title="Requires BZFlag Launcher">&#9658; Play</button></div>
      <div *ngIf="fixedHeader"><button class="btn icon" style="position:relative;margin-right:8px;top:2px" (click)="location.back()">&#xE830;</button>{{server.title}}</div>
      <div *ngIf="!fixedHeader" style="position:relative;bottom:2px"><img src="https://countryflags.io/{{server.countryCode}}/flat/32.png" style="margin-bottom:-10px;margin-right:6px" alt=""> <b>{{server.country}}</b></div>
      <div *ngIf="!fixedHeader" style="position:relative;top:4px"><b>Updated</b><br><small>{{server.timestamp | timeAgo}}</small></div>
      <div *ngIf="!fixedHeader && server.players.length == 0">No Players Online</div>
    </div>
    <div class="container">
      <app-checkbox [checked]="isServerHidden()" (checkedChange)="toggleHiddenServer()">Hide Server</app-checkbox>&nbsp;
      <button class="btn" style="position:relative;bottom:3px" (click)="share()"><span class="icon" style="position:relative;top:2px">&#xE72D;</span> Copy</button>
    </div>
    <div class="container content">
      <div>
        <h1>Info</h1><br>
        <app-table>
          <tr>
            <th>Online</th>
            <td><span [outerHTML]="server.online | booleanYesNo"></span></td>
          </tr>
          <tr>
            <th>Server</th>
            <td>{{server.address}}:{{server.port}}</td>
          </tr>
          <tr>
            <th>IP Address</th>
            <td>{{server.ip}}</td>
          </tr>
          <tr>
            <th>Owner</th>
            <td>{{server.owner}}</td>
          </tr>
          <tr>
            <th>Protocol</th>
            <td>{{server.protocol}}</td>
          </tr>
          <tr>
            <th>Game Style</th>
            <td>{{server.configuration.gameStyle | verboseGameStyle}}</td>
          </tr>
          <tr>
            <th>Max shots</th>
            <td>{{server.configuration.maxShots}}</td>
          </tr>
          <tr>
            <th>Max Players</th>
            <td>{{server.configuration.maxPlayers}}</td>
          </tr>
          <tr>
            <th>Flags</th>
            <td><span [outerHTML]="server.configuration.superflags | booleanYesNo"></span></td>
          </tr>
          <tr>
            <th>Antidote Flags</th>
            <td><span [outerHTML]="server.configuration.antidoteFlags | booleanYesNo"></span></td>
          </tr>
          <tr>
            <th>No Team Kills</th>
            <td><span [outerHTML]="server.configuration.noTeamKills | booleanYesNo"></span></td>
          </tr>
          <tr>
            <th>Jumping</th>
            <td><span [outerHTML]="server.configuration.jumping | booleanYesNo"></span></td>
          </tr>
          <tr>
            <th>Ricochet</th>
            <td><span [outerHTML]="server.configuration.ricochet | booleanYesNo"></span></td>
          </tr>
          <tr>
            <th>Drop Bad Flags</th>
            <td><span [outerHTML]="server.configuration.shaking | booleanYesNo"></span></td>
          </tr>
          <tr *ngIf="server.configuration.shaking">
            <th>Drop Bad Flags After</th>
            <td>{{server.configuration.dropBadFlags.wins + " win" | autoPlural}} or {{server.configuration.dropBadFlags.time + " second" | autoPlural}}</td>
          </tr>
          <tr>
            <th>Inertia</th>
            <td><span [outerHTML]="server.configuration.inertia | booleanYesNo"></span></td>
          </tr>
          <tr>
            <th>Handicap</th>
            <td><span [outerHTML]="server.configuration.handicap | booleanYesNo"></span></td>
          </tr>
          <tr>
            <th>Time Limit</th>
            <td><span [outerHTML]="server.configuration.timeLimit | numberZeroNo"></span></td>
          </tr>
          <tr>
            <th>Max Player Score</th>
            <td><span [outerHTML]="server.configuration.maxPlayerScore | numberZeroNo"></span></td>
          </tr>
          <tr>
            <th>Max Team Score</th>
            <td><span [outerHTML]="server.configuration.maxTeamScore | numberZeroNo"></span></td>
          </tr>
        </app-table>
      </div>
      <div *ngIf="server.players.length > 0">
        <h1>{{playerCount + " Player" | autoPlural}} and {{observerCount + " Observer" | autoPlural}} Online</h1><br>
        <app-players-table *ngIf="playerCount > 0 || observerCount > 0" [players]="server.players" [showTkColumn]="!server.configuration.noTeamKills"></app-players-table>
      </div>
      <div>
        <h1>Teams</h1><br>
        <app-table id="teams">
          <tr>
            <th (click)="teamSortBy('name')">Name</th>
            <th (click)="teamSortBy('score')">Score</th>
            <th (click)="teamSortBy('players')">Players</th>
            <th (click)="teamSortBy('wins')">Wins</th>
            <th (click)="teamSortBy('losses')">Losses</th>
          </tr>
          <tr *ngFor="let team of server.teams">
            <td>{{team.name}}</td>
            <td>{{team.name !== "Observer" ? team.wins - team.losses : "N/A"}}</td>
            <td>{{team.players}} / {{team.maxPlayers}}</td>
            <td>{{team.name !== "Observer" ? team.wins : "N/A"}}</td>
            <td>{{team.name !== "Observer" ? team.losses : "N/A"}}</td>
          </tr>
        </app-table>
      </div>
    </div>
  </div>
</div>
<div *ngIf="badAddress" class="container">
  <h1>Server <i>{{address}}:{{port}}</i> is not in the database</h1>
  <a routerLink="/">Home</a>
</div>
<div *ngIf="selectTeam" class="play-popup">
  <span class="overlay" (click)="selectTeam = false"></span>
  <div>
    <div class="popup-header">
      <h3>Select Team</h3>
      <div class="close"><button class="btn icon" (click)="selectTeam = false">&#xE711;</button></div>
    </div>
    <div class="inner">
      <button *ngFor="let team of server.teams" class="btn outline" (click)="joinTeam(team.name)">{{team.name}}</button>
    </div>
  </div>
</div>
<app-spinner [show]="!server && !badAddress"></app-spinner>