@import "../../../variables.scss";

.banner{
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: -1;
}

.title{
  margin-top: 150px;
  color: #EEE;
}

.server-header{
  padding: 8px 18px;
  background-color: var(--bg);
  transition: 200ms;

  div{
    margin-right: 32px;
    display: inline-block;
    height: 38px;
    line-height: .9em;
  }

  b{
    text-transform: uppercase;
    font-weight: 500;
  }
}

.header-fixed{
  width: 100vw;
  box-shadow: $shadow;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.play{
  padding: 0 32px;
  background-image: linear-gradient(to right, #60EE00, #30DD40);
  color: #FFF;
  font-size: 1.1em;
  line-height: 38px;
  text-transform: uppercase;
  border: none;
  border-radius: $border-radius;
  outline: none;
  cursor: pointer;

  &:hover{
    background-image: linear-gradient(to right, #79EE00, #5ADD20);
  }
}

.content{
  display: flex;
  flex-flow: row wrap;

  & > div{
    margin: 0 12px;
    margin-bottom: 22px;
    flex: 1 350px;
  }
}

.header-fixed + .content{
  margin-top: 58px;
}

#teams th{
  cursor: pointer;
}

.play-popup{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .overlay{
    background-color: rgba(var(--color-base), .5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .close{
    padding-top: 15px;
    padding-right: 15px;
    position: absolute;
    top: -4px;
    right: 0;
  }

  & > div{
    width: 340px;
    min-height: 100px;
    background-color: var(--bg-light);
    position: relative;
    box-shadow: rgba(0, 0, 0, .22) 0 25.6px 57.6px 0, rgba(0, 0, 0, .18) 0 4.8px 14.4px 0;
    border-radius: $border-radius;
  }

  .popup-header{
    padding: 16px;
    text-align: center;
  }

  .inner{
    padding: 16px;
    display: flex;
    flex-flow: row wrap;

    .btn{
      margin: 2px;
      flex: 1;
    }
  }
}
