mat-toolbar-row{
  .mat-button{
    margin-left: 8px;

    @media screen and (max-width: 768px){
      margin-left: 0;
    }
  }

  #logo{
    margin-left: 16px;
    margin-right: 4px;
    color: #1976D2;
    font-size: 22px;

    @media screen and (max-width: 768px){
      margin-left: 0;
    }
  }

  nav{
    margin-left: 32px;

    @media screen and (max-width: 768px){
      margin-left: 8px;
    }
  }
}
