<div class="container">
  <h1>Settings</h1>
  <p>
    <app-checkbox [(checked)]="darkMode">Dark Theme</app-checkbox><br>
    <app-checkbox [(checked)]="settingsService.compact">Compact Tables</app-checkbox><br>
    <app-checkbox [(checked)]="settingsService.gridView" [disabled]="mobile">Server List Grid View (used on mobile)</app-checkbox>
  </p>
  <div *ngIf="!settingsService.gridView">
    <h2>Server List Columns</h2>
    <ul style="list-style:none;padding:0">
      <li *ngFor="let column of settingsService.serverColumns">
        <app-checkbox [checked]="getServerColumn(column)" (checkedChange)="toggleServerColumn(column)">{{serverColumnName(column)}}</app-checkbox>
      </li>
    </ul>
  </div>
  <h2>Players List Columns</h2>
  <ul style="list-style:none;padding:0">
    <li *ngFor="let column of settingsService.playerColumns">
      <app-checkbox [checked]="getPlayerColumn(column)" (checkedChange)="togglePlayerColumn(column)">{{playerColumnName(column)}}</app-checkbox>
    </li>
  </ul>
</div>
