<div class="wrapper">
  <h1>Settings</h1>
  <p>
    <app-checkbox [(checked)]="settingsService.compact">Compact Tables</app-checkbox><br>
    <app-checkbox [(checked)]="settingsService.newTables">Experimental Table Look</app-checkbox><br>
    <app-checkbox [(checked)]="settingsService.gridView" [disabled]="mobile">Server List Grid View (used on mobile)</app-checkbox><br>
    <app-checkbox [(checked)]="settingsService.onlyServersWithPlayers">Only Show Servers With Players</app-checkbox><br><br>
    <span class="label">Theme</span>
    <app-dropdown [selected]="settingsService.theme ? settingsService.theme : 'light'" (change)="setTheme($event)">
      <app-dropdown-option value="light"></app-dropdown-option>
      <app-dropdown-option value="dark"></app-dropdown-option>
      <app-dropdown-option value="midnight"></app-dropdown-option>
    </app-dropdown>
  </p>
  <div *ngIf="!settingsService.gridView">
    <h2>Server List Columns</h2>
    <ul style="list-style:none;padding:0">
      <li *ngFor="let column of settingsService.serverColumns">
        <app-checkbox [checked]="getServerColumn(column)" (checkedChange)="toggleServerColumn(column)">{{serverColumnName(column)}}</app-checkbox>
      </li>
    </ul>
  </div>
  <h2>Players List Columns</h2>
  <ul style="list-style:none;padding:0">
    <li *ngFor="let column of settingsService.playerColumns">
      <app-checkbox [checked]="getPlayerColumn(column)" (checkedChange)="togglePlayerColumn(column)">{{playerColumnName(column)}}</app-checkbox>
    </li>
  </ul>
  <p>
    <button class="btn outline" [disabled]="cache.length == 0" (click)="clearCache()">Clear Cache</button>
  </p>
</div>
