@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

@import "variables.scss";

@font-face{
  font-family: "Segoe MDL2";
  src: url(/assets/fonts/SegMDL2.ttf) format("truetype");
}

*{
  font-family: Montserrat, sans-serif;
}

html{
  --bg: #FFF;
  --bg-one: #AFAFAF;
  --bg-two: #BFBFBF;
  --bg-three: #DFDFDF;
  --bg-light: #FFF;
  --color-hover: rgba(0, 0, 0, .05);
  --color-hover-light: rgba(0, 0, 0, .02);
  --color-hover-dark: rgba(0, 0, 0, .1);
  --color-text-headings: #606060;
  --color-text: #606060;
  --color-text-lighter: #6A6A6A;
  --color-text-light: #707070;
  --color-base: 255, 255, 255;
}

html[data-theme=dark]{
  --bg: #222;
  --bg-one: #6F6F6F;
  --bg-two: #5F5F5F;
  --bg-three: #4F4F4F;
  --bg-light: #333;
  --color-hover: rgba(255, 255, 255, .05);
  --color-hover-light: rgba(255, 255, 255, .02);
  --color-hover-dark: rgba(255, 255, 255, .1);
  --color-text-headings: #EEE;
  --color-text: #DDD;
  --color-text-lighter: #BBB;
  --color-text-light: #999;
  --color-base: 50, 50, 50;
}

html[data-theme=midnight]{
  --bg: #000;
  --bg-one: #4F4F4F;
  --bg-two: #3F3F3F;
  --bg-three: #2F2F2F;
  --bg-light: #111;
  --color-hover: rgba(255, 255, 255, .1);
  --color-hover-light: rgba(255, 255, 255, .05);
  --color-hover-dark: rgba(255, 255, 255, .2);
  --color-text-headings: #DDD;
  --color-text: #CCC;
  --color-text-lighter: #AAA;
  --color-text-light: #888;
  --color-base: 0, 0, 0;
}

html, body{
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background-color: var(--bg);
  overflow-x: hidden;
}

h1, h2, h3{
  margin: 0;
  color: var(--color-text-headings);
}

h2, h3{
  font-weight: 500;
}

h1{
  font-size: 32px;
}

a{
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  color: lighten($color-primary, 10%);
  text-decoration: underline;
}

small{
  font-size: 14px;
}

hr{
  border: none;
  border-top: 1px solid var(--bg-two);
}

hr.small{
  width: 30%;
}

.icon{
  font-family: "Segoe MDL2";
  font-weight: normal;
}

.container{
  padding: 28px 32px;

  @media screen and (max-width: $breakpoint-mobile){
    padding: 12px 8px;
  }
}

.badge{
  padding: 3px 6px;
  color: var(--bg);
  background-color: var(--color-text-lighter);
  font-size: .75rem;
  text-align: center;
  border-radius: $border-radius;
  white-space: nowrap;
}

.card{
  padding: 16px 24px;
  display: block;
  box-shadow: $shadow;
  border-radius: $border-radius;
}

.btn{
  min-width: 70px;
  margin: 0 2px;
  padding: 0 18px;
  background: transparent;
  color: var(--color-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  display: inline-block;
  border: none;
  border-radius: $border-radius;
  outline: none;
  cursor: pointer;
  user-select: none;
}

.btn:hover{
  background-color: var(--color-hover);
}

.btn[disabled]{
  color: var(--color-text-lighter);
  background-color: var(--color-hover);
}

.btn svg{
  fill: var(--color-text);
}

.btn.icon{
  min-width: 0;
  padding: 0 14px;
}

.outline{
  border: 1px solid var(--color-text-light);
}

.btn-primary{
  background-color: $color-primary;
  color: #FFF;
  border: 1px solid $color-primary;

  &:hover{
    background-color: darken($color-primary, 5%);
    border-color: darken($color-primary, 5%);
  }
}

.list-nostyle{
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-card > *{
  margin: 0 8px;
  margin-bottom: 16px;
  flex: 1 0 450px;

  @media screen and (max-width: $breakpoint-mobile){
    margin: 0 4px;
    margin-bottom: 16px;
    flex-basis: 300px;
  }
}

@keyframes slide{
  0%{
    opacity: 0;
  }

  100%{
    top: 0;
    opacity: 1;
  }
}

.yes{
  color: #46A046;
}

.no{
  color: #D1332E;
}

p.note{
  padding: 12px 16px;
  color: var(--color-text-headings);
  border: solid 1px $color-primary;
  border-radius: $border-radius;
}

.center{
  text-align: center;
}

.list-shimmer li{
  height: 16px;
  margin: 18px auto;
  background: linear-gradient(to right, var(--color-hover-dark) 4%, var(--color-hover) 25%, var(--color-hover-dark) 36%);
  background-size: 1000px 100%;
  border-radius: $border-radius;
  animation: shimmer 2s infinite;

  &:first-of-type{
    margin-top: 0;
  }
}

.label{
  padding: 2px 0;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
}

.header{
  width: 85vw;
  margin: 0 auto;
  padding: 64px 0;

  .headline{
    color: $color-primary;
    font-size: 56px;
    font-weight: normal;
  }

  .tagline{
    font-size: 28px;
  }

  @media screen and (max-width: $breakpoint-mobile){
    width: 90vw;

    .headline{
      font-size: 36px;
    }

    .tagline{
      font-size: 20px;
    }
  }
}

.search{
  width: 70vw;
  margin: 0 auto;
  margin-bottom: 128px;

  @media screen and (max-width: $breakpoint-mobile){
    width: 90vw;
    margin-bottom: 64px;
  }
}

.text-box{
  height: 32px;
  padding: 1px 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  border: 1px solid var(--color-text-light);
  border-radius: $border-radius;

  input{
    margin: 0 4px;
    padding: 0;
    background: transparent;
    color: var(--color-text);
    font-size: 14px;
    box-sizing: border-box;
    flex: 1 1 0;
    border: none;
    outline: none;
    overflow: hidden;

    &::placeholder{
      color: var(--color-text);
    }
  }
}

.wrapper{
  width: 85vw;
  margin: 0 auto;
  margin-top: 64px;

  @media screen and (max-width: $breakpoint-mobile){
    width: 90vw;
    margin-top: 32px;
  }
}

@keyframes shimmer{
  0%{
    background-position: -1000px 0;
  }

  100%{
    background-position: 1000px 0;
  }
}

@media screen and (max-width: $breakpoint-mobile){
  .mobile-hide{
    display: none !important;
  }

  .btn{
    font-size: .8rem;
  }

  h1{
    font-size: 1.6rem;
  }

  h2{
    font-size: 1.4rem;
  }
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after{
  transition: all 200ms !important;
  transition-delay: 0 !important;
}

.list-card > *:nth-child(-n+6){
  top: 32px;
  position: relative;
  animation: slide .5s linear forwards;
}
