// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "theme.scss";

*{
  font-family: "Roboto", sans-serif;
}

html, body{
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
}

a{
  color: #1976D2;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

mat-toolbar-row{
  color: #333;
  background-color: #FFF;
  border-bottom: 1px solid #0000001f;

  a:hover{
    text-decoration: none;
  }

  .spacer{
    flex: 1 1 auto;
  }
}

mat-table{
  width: 100%;
  // border-top: 1px solid rgba(0, 0, 0, 0.12);

  mat-row, mat-header-row{
    min-height: 40px;
  }

  mat-row:hover{
    background-color: rgba(0, 0, 0, 0.03);
  }

  .row-compact{
    min-height: 22px;

    img{
      height: 22px;
    }
  }
}

.container{
  padding: 8px 24px;
}
