// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "theme.scss";

*{
  font-family: "Roboto", sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

a{
  color: #1565C0;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.container{
  padding: 8px 24px;
}