<div class="card">
  <h2>{{server.title}}</h2>
  {{server.address}}:{{server.port}} • {{server.owner}}<br>
  <p>
    <span><span class="badge">{{server.configuration.gameStyle | verboseGameStyle}}</span>&nbsp;</span>
    <span *ngIf="server.configuration.superflags"><span class="badge">Flags</span>&nbsp;</span>
    <span *ngIf="server.configuration.noTeamKills"><span class="badge">No TKs</span>&nbsp;</span>
  </p>
  <hr>
  <small>
    <img src="https://countryflags.io/{{server.countryCode}}/flat/16.png" alt="{{server.countryCode}}" title="{{server.country}}">
    {{server.playersCount}} players online • updated {{server.timestamp | timeAgo}}
  </small>
</div>
