mat-toolbar-row{
  .mat-button, .mat-icon-button{
    margin-left: 8px;

    @media screen and (max-width: 768px){
      margin-left: 0;
    }
  }

  .logo{
    height: 16px;
    margin-left: 16px;
    margin-right: 6px;

    @media screen and (max-width: 768px){
      margin-left: 0;
    }
  }

  nav{
    margin-left: 32px;

    @media screen and (max-width: 768px){
      margin-left: 8px;
    }
  }
}
