mat-toolbar-row{
  color: var(--color-text);
  background-color: var(--bg);
  border-bottom: 1px solid --var(--color-text-light);

  .spacer{
    flex: 1 1 auto;
  }

  .logo{
    height: 16px;
    margin-left: 16px;
    margin-right: 6px;

    @media screen and (max-width: 768px){
      margin-left: 0;
    }
  }

  nav{
    margin-left: 32px;

    @media screen and (max-width: 768px){
      margin-left: 8px;
    }
  }
}