<mat-toolbar>
  <mat-toolbar-row>
    <span>
      <img src="./assets/images/logo.png" id="logo" height="16" alt="BZList">
      <small>beta</small>
    </span>
    <nav>
      <button mat-button routerLink="/">Servers</button>
      <button mat-button routerLink="/help">Help</button>
    </nav>
    <span class="spacer"></span>
    <a mat-stroked-button class="mobile-hide" href="https://github.com/bzlist/" target="_blank">GitHub</a>
    <button mat-icon-button routerLink="/account">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button routerLink="/settings">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
